

.HomeContainer{
    background-image: url(../../public/images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

    height: 100vh;
    width:100%;
}